.Blog ul {
    list-style: none;
    width: 100%;
    text-align: center;
}

.Blog li {
    display: inline-block;
    margin: 20px;
}

.Blog a {
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 15px;
}

.Blog a:hover,
.Blog a:active {
    color: #fa923f;
}

.Blog a.my-active-link {
    background-color: black;
    color: white;
}